.Menu {
  position: absolute;
  background-color: #eaeaea;
  padding: 8px 0;
  border-radius: 4px;
  box-shadow: 0 0 2px #827d7d;
}

.MenuItem {
  padding: 4px 16px;

  &:hover {
    background-color: #dad8d8;
    cursor: pointer;
  }
}